.header{
    width:100%;
    height:38px;
    background-color: #F1F1F1;
}
.header #province{
    width:100px;
    border-left:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
}
.province_hover{
    background-color: white;
    cursor: pointer;
    border-left:1px solid #E7E7E7;
    border-right:1px solid #E7E7E7;
    border-bottom:1px solid #fff;
}
#login ul li{
    padding:0px 5px;
    border-right:1px solid #E7E7E7;
}
#province{

    position: relative;
    z-index: 20;
}
#province p{
    line-height:18px;
}
#list{
    width:300px;
    height:210px;
    border:1px solid #E7E7E7;
    left:0;
    top:37px;
    z-index: 0;
    background-color: #fff;
}
#list ul{
    overflow: hidden;
    margin-left:13px;
}
#list ul li{
    text-align: center;
    padding:7px;
    width:40px;
}
#list ul li:hover{
    background-color: #E7E7E7;
}
#search{
    width:95%;
    height:100px;
}
#search div{
    float: left;
}
#search .logo{
    width: 270px;
    height: auto;
}
#search .find{
    margin-left:90px;
    border:2px solid #B42024;
    width: 542px;
    height:36px;
}
.find button{
    width:82px;
    height:36px;
    background-color: #B42024;
    border:none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.cartshop .cs_btn{
    margin-left:90px;
    width:119px;
    height:34px;
    border:1px solid#DFDFDF;
    background-color: #F9F9F9;
}
.cs_btn .icon{
    width:18px;
    height:16px;
    background-image: url("../images/jd2015img.png");
    background-position: 0 -60px;
    display: inline-block;
}
.cs_btn span{
    display: inline-block;
    font-size:12px;
    margin-top:7px;
}
.cs_btn .ci-count{
    position: absolute;
    top: 0px;
    left: 190px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
    font-style: normal;
}
#nav{
    width:100%;
    height:44px;
    border-bottom:2px solid #b1191a;
}
#nav .dt{
    width:210px;
    height:44px;
    background-color: #B1191A;
    margin-left:30px;
}
.dt a{
    color: #fff;
    line-height:44px;
    display: inline-block;
    padding-left:20px;
}
#nav .nav_list{
    width:80%;
    height:44px;
}
#nav ul li{
    height:44px;
    line-height:44px;
    padding:0px 20px;
}
#nav ul li a:hover{
    color: #C61A2A;
}
#banner_list{
    width:100%;
    margin:10px auto;
    height:300px;
}
#banner_list .menu{
    width:210px;
    /*height:300px;*/
    background-color: #C61A2A;
    margin-left:30px;
    margin-top:-10px;
    /*overflow: hidden;*/
}
#banner_list .item{
    width:189px;
    height:31px;
    line-height:31px;
    color: #fff;
}
#banner_list .item a{
    color: #fff;
}
#banner_list .banner{
    width:730px;
    height:454px;
}
#banner_list .slider_nav{
    width:100%;
    height:20px;
    z-index: 10;
}
#banner_list .slider_nav ul{
    overflow: hidden;
    height:20px;
    width:170px;
    margin:0 auto;
    margin-top:434px;
}
#banner_list .dropdown_layer{
    width:999px;
    height:465px;
    position: absolute;
    background-color: white;
    left:210px;
    z-index: 11;
    display: none;
    top:0px;
}
.dropdown_layer dl{
    width:100%;
    overflow: hidden;
    padding-left:10px;
}
.dropdown_layer dt{
    padding:13px 0px 0px 0px;
    width:50px;
}
.dropdown_layer dt,dd{
    float: left;
}
.dropdown_layer dt span{
    font-weight:bold;
    color: #666666;
    font-size: 12px;
}
.dropdown_layer dd{
    width:620px;
    margin-left:30px;
    border-bottom:1px solid #BDBDBD;
    padding:10px 0px;
}
.dropdown_layer dd>a{
    display: inline-block;
    margin:3px 0px;
    padding:0px 10px;
    border-left:1px solid #BDBDBD;
    font-size: 12px;
}
.slider_item{
    width: 18px;
    height:18px;
    background-color: #3E3E3E;
    margin-left:10px;
    text-align: center;
    line-height:18px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size:12px;
}
.banner .list{
    width:730px;
    height:454px;
    -moz-background-size: 100%;
    -webkit-background-size:100%;
    background-size:100%;
    position: absolute;
    cursor: pointer;
    display: none;
}
.banner .list:nth-child(1){
    display: block;
}
.list_focus{
    background-color: #B41E25;
}
